<h1><span class="chunky">Explain</span> <span class="bacon">Ruby</span></h1>

<p>
  Paste code or a URL ➝ get Ruby syntax explained
</p>

<form action="/" method="post">
  <p><label>Ruby code: <textarea name="code"></textarea></label></p>
  <p><label>Alternatively, paste a URL: <input type="url" name="url"></label></p>
  <div class="actions">
    <input type="submit" value="Explain">
  </div>
</form>