<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/explain.css" type="text/css">
</head>

<body id="home" class="{{ highlight_style }}">
  <div id='container'>
    <div id="background"></div>
    {{{ yield }}}
  </div>
</body>
